<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    
    <namespace name="DiSamples.NetFramework.Domain.Interfaces" />
    <namespace name="DiSamples.NetFramework.Domain.Models" />
    <assembly name="DiSamples.NetFramework.Domain" />

    <alias alias="IEmployee" type="DiSamples.NetFramework.Domain.Interfaces.IEmployee, DiSamples.NetFramework.Domain" />
    <alias alias="FullTimeEmployee" type="DiSamples.NetFramework.Domain.Models.FullTimeEmployee, DiSamples.NetFramework.Domain" />
    <alias alias="ContractEmployee" type="DiSamples.NetFramework.Domain.Models.ContractEmployee, DiSamples.NetFramework.Domain" />
    <alias alias="NullEmployee" type="DiSamples.NetFramework.Domain.Models.NullEmployee, DiSamples.NetFramework.Domain" />
    
    <container>
      <register type="IEmployee" mapTo="FullTimeEmployee" />
      <register type="IEmployee" mapTo="FullTimeEmployee" name="FullTimeEmployee" />
      <register type="IEmployee" mapTo="ContractEmployee" name="ContractEmployee" />
      <register type="IEmployee" mapTo="NullEmployee" name="NullEmployee" />
    </container>

  </unity>
</configuration>